/.cproject
/.project
/.settings
/*.o
/*.so
/mytest
/log*
/*.xml
/logs/*
/nbproject/*
/bingo/*.o
/bingo/*/*.o
/bingo/*/*/*.o
/bingo/*/*/*/*.o
/bingo/*/*/*/*/*.o
/bingo/*/*/*/*/*/*.o
/test/*.o
/test/*/*.o
/test/*/*/*.o
/test/*/*/*/*.o
/test/*/*/*/*/*.o
